10000                                                      ! Nsim, total number of iterations
50                                                         ! Nadapt, adaptation period: jump sizes are increased/decreased every Nadapt iterations to comply with the desired moving rates
5000                                                       ! stopAdapt, no more adaptation after iteration number stopAdapt
0                                                          ! Nburn, number of inital iterations that will not be written to file
10                                                         ! Nslim, only one iteration every Nslim will be written to file
0.05                                                       ! minMR, lower bound for the desired move rate interval
0.15                                                       ! maxMR, upper bound for the desired move rate interval
0.6                                                        ! downMult, (<1) multiplication factor used to decrease jump size when move rate is too low
1.4                                                        ! upMult, (>1, avoid 1/dowMult) multiplication factor used to increase jump size when move rate is too high
"MCMC.txt"                                                 ! fileName, name of MCMC file (|!| name of the file only, not full path)
.true.                                                     ! useSpeedUp, logical, enable all computational tricks to optimize speed. Should always be .true., except if one wishes to verify the equivalence speedUp/no speedUp 
""                                                         ! name of file reporting MCMC jump sizes at each adaptation (|!| name of the file only, not full path). No reporting if empty.
""                                                         ! name of file reporting MCMC move rates at each adaptation (|!| name of the file only, not full path). No reporting if empty.
