"covariate_lognormal_model"                                ! Name / description of the model
1                                                          ! nVar (number of variables)
"Streamflow"                                               ! Variable names (size nVar)
"LogNormal"                                                ! Parent distribution for each variable (size nVar)
2                                                          ! nParentPar, number of parameters for each parent distribution (size nVar)
"mu","sigma"                                               ! parentParName, name of each parent parameter (size sum(nParentPar))
1                                                          ! nCov (number of covariates)
"nino"                                                     ! Covariate names (size nCov)
3                                                          ! nPar (number of parameters)
"m0","m1","s0"                                             ! Parameter names (size nPar)
"parameters.config"                                        ! Configuration file for parameters (priors)
0                                                          ! nDim (number of dimensions)
""                                                         ! Configuration files for dimensions (size nDim)
0                                                          ! nPro (number of processes)
""                                                         ! Process names (size nPro)
""                                                         ! Configuration files for processes (size nPro)
"m0+m1*nino"                                               ! Formula for parent par number 1: mu
"s0"                                                       ! Formula for parent par number 2: sigma
"dataset.config"                                           ! Configuration file for reading dataset
