"m0"                                                       ! Parameter name
1                                                          ! Initial guess
"FlatPrior"                                                ! Prior distribution
                                                           ! Prior parameters
"s0"                                                       ! Parameter name
-1                                                         ! Initial guess
"Gaussian"                                                 ! Prior distribution
-1,1                                                       ! Prior parameters
