"m1"                                                       ! Name of the process
"space"                                                    ! Name of the dimension the process is defined on
0                                                          ! Constraint index. 0 = none, 1 = centred, 2 = centred & scaled
0                                                          ! Initial value OR name of the dimension-covariate giving initial values
"Gaussian_IID"                                             ! Distribution. Type getCatalogue(printOnly=TRUE) for a list of available multivariate distributions
2                                                          ! nPar (total number of parameters)
"m1_hypermean","m1_hypersd"                                      ! Parameter names (size nPar)
2                                                          ! nSpar (number of scalar parameters)
1,2                                                        ! indices of scalar parameters in full parameter list (size nSpar)
""                                                         ! Formula for distribution mean vector - may depend on parameters above and covariates of the dimension
""                                                         ! Formula for distribution covariance matrix  - may depend on parameters above, covariates of the dimension and pairwise distances of the dimension, noted Ddimname (e.g. Dspace, Dtime)
"m1_hypermean"                                                ! Parameter name
0                                                          ! Initial guess
"FlatPrior"                                                ! Prior distribution. Type getCatalogue(printOnly=TRUE) for a list of available distributions
                                                           ! Prior parameters
"m1_hypersd"                                                  ! Parameter name
0.1                                                        ! Initial guess
"FlatPrior+"                                               ! Prior distribution. Type getCatalogue(printOnly=TRUE) for a list of available distributions
                                                           ! Prior parameters
