"process_lognormal_model"                                  ! Name / description of the model
1                                                          ! nVar (number of variables)
"Streamflow"                                               ! Variable names (size nVar)
"LogNormal"                                                ! Parent distribution for each variable (size nVar)
2                                                          ! nParentPar, number of parameters for each parent distribution (size nVar)
"mu","sigma"                                               ! parentParName, name of each parent parameter (size sum(nParentPar))
1                                                          ! nCov (number of covariates)
"nino"                                                     ! Covariate names (size nCov)
0                                                          ! nPar (number of parameters)
""                                                         ! Parameter names (size nPar)
""                                                         ! Configuration file for parameters (priors)
1                                                          ! nDim (number of dimensions)
"space.config"                                             ! Configuration files for dimensions (size nDim)
3                                                          ! nPro (number of processes)
"m0","m1","s0"                                             ! Process names (size nPro)
"m0.config","m1.config","s0.config"                        ! Configuration files for processes (size nPro)
"log(m0*(1+m1*nino))"                                      ! Formula for parent par number 1: mu
"exp(s0)"                                                  ! Formula for parent par number 2: sigma
"dataset.config"                                           ! Configuration file for reading dataset
