"s0"                                                       ! Name of the process
"space"                                                    ! Name of the dimension the process is defined on
0                                                          ! Constraint index. 0 = none, 1 = centred, 2 = centred & scaled
1                                                          ! Initial value OR name of the dimension-covariate giving initial values
"Gaussian_IID"                                             ! Distribution.
2                                                          ! nPar (total number of parameters)
"s0_hypermean","s0_hypersd"                                ! Parameter names (size nPar)
2                                                          ! nSpar (number of scalar parameters)
1,2                                                        ! indices of scalar parameters in full parameter list (size nSpar)
""                                                         ! Formula for distribution mean vector - may depend on parameters above and covariates of the dimension
""                                                         ! Formula for distribution covariance matrix  - may depend on parameters above, covariates of the dimension and pairwise distances of the dimension, noted Ddimname (e.g. Dspace, Dtime)
"s0_hypermean"                                             ! Parameter name
1                                                          ! Initial guess
"FIX"                                                      ! Prior distribution.
                                                           ! Prior parameters
"s0_hypersd"                                               ! Parameter name
2                                                          ! Initial guess
"FIX"                                                      ! Prior distribution.
                                                           ! Prior parameters
