"space"                                                    ! Name of the dimension
"Ex3_process/stations.txt"                                 ! File where the dimension dataset is stored
1                                                          ! Number of header lines
21                                                         ! nObs, number of rows in data file (excluding header lines)
2                                                          ! Number of columns in data file
2                                                          ! How many coordinates? (typically 1 for time, 2 for space, etc.)
1,2                                                        ! Column(s) for coordinates
0                                                          ! Number of covariates
""                                                         ! Covariates names
0                                                          ! Columns for covariates
"Haversine"                                                ! Distance function. "Euclidean", "Haversine", ...
0                                                          ! Number of parameters for distance function
